<div id="<%= dom_id service %>">
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Name</div>
    <div class="col-md-8"><%= service.name %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Description</div>
    <div class="col-md-8"><%= service.description %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Price</div>
    <div class="col-md-8"><%= service.price %></div>
  </div>

</div>
