<div id="<%= dom_id product %>">
  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Name</div>
    <div class="col-md-8"><%= product.name %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Description</div>
    <div class="col-md-8"><%= product.description %></div>
  </div>

  <div class="row mb-3 pb-2 border-bottom">
    <div class="col-6 col-md-4 fw-bold">Price</div>
    <div class="col-md-8"><%= product.price %></div>
  </div>
</div>
