<div class="d-flex justify-content-between">
  <div>
    <h1>Products</h1>
  </div>
  <div>
    <%= link_to "New product", new_product_path, class: 'btn btn-primary' %>
  </div>
</div>


<div id="products">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
